In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
bus_data = pd.read_csv('ttc-bus-delay-data-2023.csv')
subway_data = pd.read_csv('ttc-subway-delay-data-2023.csv')

In [3]:
bus_data['type'] = 'bus'

In [4]:
bus_data.head(10)

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle,type
0,1-Jan-23,91,2:30,Sunday,WOODBINE AND MORTIMER,Diversion,81,111,NaN,8772,bus
1,1-Jan-23,69,2:34,Sunday,WARDEN STATION,Security,22,44,S,8407,bus
2,1-Jan-23,35,3:06,Sunday,JANE STATION,Cleaning - Unsanitary,30,60,N,1051,bus
3,1-Jan-23,900,3:14,Sunday,KIPLING STATION,Security,17,17,NaN,3334,bus
4,1-Jan-23,85,3:43,Sunday,MEADOWALE LOOP,Security,1,1,NaN,1559,bus
5,1-Jan-23,40,3:47,Sunday,KIPLING STATION,Emergency Services,0,0,NaN,0,bus
6,1-Jan-23,336,3:52,Sunday,FINCH AND ALNESS,Diversion,138,168,NaN,9220,bus
7,1-Jan-23,52,4:25,Sunday,LAWRENCE AND YONGE,Emergency Services,30,60,E,3520,bus
8,1-Jan-23,24,4:35,Sunday,DANFORTH AND MAIN,Cleaning - Unsanitary,20,40,W,8404,bus
9,1-Jan-23,36,5:18,Sunday,FINCH AND ALNESS,Diversion,334,344,NaN,3524,bus

In [5]:
subway_data['type'] = 'subway'

In [6]:
subway_data.head(10)

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle,type
0,2023/01/01,02:22,Sunday,MUSEUM STATION,MUPAA,3,9,S,YU,5931,subway
1,2023/01/01,02:30,Sunday,KIPLING STATION,MUIS,0,0,E,BD,5341,subway
2,2023/01/01,02:33,Sunday,WARDEN STATION,SUO,0,0,W,BD,0,subway
3,2023/01/01,03:17,Sunday,KEELE STATION,MUIS,0,0,NaN,BD,0,subway
4,2023/01/01,07:16,Sunday,BATHURST STATION,MUIS,0,0,NaN,BD,0,subway
5,2023/01/01,07:44,Sunday,JANE STATION,MUNCA,0,0,NaN,BD,0,subway
6,2023/01/01,07:50,Sunday,WOODBINE STATION,MUNCA,0,0,NaN,BD,0,subway
7,2023/01/01,08:02,Sunday,VAUGHAN MC STATION,TUNOA,6,12,S,YU,5451,subway
8,2023/01/01,08:11,Sunday,GREENWOOD STATION,MUNOA,5,10,E,BD,0,subway
9,2023/01/01,08:13,Sunday,ROYAL YORK STATION,EUSC,0,0,W,BD,5031,subway

In [9]:
subway_data = subway_data.rename(columns={"Station": "Location", "Bound": "Direction"})

In [10]:
subway_data.head(10)

,Date,Time,Day,Location,Code,Min Delay,Min Gap,Direction,Line,Vehicle,type
0,2023/01/01,02:22,Sunday,MUSEUM STATION,MUPAA,3,9,S,YU,5931,subway
1,2023/01/01,02:30,Sunday,KIPLING STATION,MUIS,0,0,E,BD,5341,subway
2,2023/01/01,02:33,Sunday,WARDEN STATION,SUO,0,0,W,BD,0,subway
3,2023/01/01,03:17,Sunday,KEELE STATION,MUIS,0,0,NaN,BD,0,subway
4,2023/01/01,07:16,Sunday,BATHURST STATION,MUIS,0,0,NaN,BD,0,subway
5,2023/01/01,07:44,Sunday,JANE STATION,MUNCA,0,0,NaN,BD,0,subway
6,2023/01/01,07:50,Sunday,WOODBINE STATION,MUNCA,0,0,NaN,BD,0,subway
7,2023/01/01,08:02,Sunday,VAUGHAN MC STATION,TUNOA,6,12,S,YU,5451,subway
8,2023/01/01,08:11,Sunday,GREENWOOD STATION,MUNOA,5,10,E,BD,0,subway
9,2023/01/01,08:13,Sunday,ROYAL YORK STATION,EUSC,0,0,W,BD,5031,subway

In [11]:
merged_data = pd.concat([subway_data, bus_data], ignore_index=True)

In [12]:
merged_data.head(10)

,Date,Time,Day,Location,Code,Min Delay,Min Gap,Direction,Line,Vehicle,type,Route,Incident
0,2023/01/01,02:22,Sunday,MUSEUM STATION,MUPAA,3,9,S,YU,5931,subway,NaN,NaN
1,2023/01/01,02:30,Sunday,KIPLING STATION,MUIS,0,0,E,BD,5341,subway,NaN,NaN
2,2023/01/01,02:33,Sunday,WARDEN STATION,SUO,0,0,W,BD,0,subway,NaN,NaN
3,2023/01/01,03:17,Sunday,KEELE STATION,MUIS,0,0,NaN,BD,0,subway,NaN,NaN
4,2023/01/01,07:16,Sunday,BATHURST STATION,MUIS,0,0,NaN,BD,0,subway,NaN,NaN
5,2023/01/01,07:44,Sunday,JANE STATION,MUNCA,0,0,NaN,BD,0,subway,NaN,NaN
6,2023/01/01,07:50,Sunday,WOODBINE STATION,MUNCA,0,0,NaN,BD,0,subway,NaN,NaN
7,2023/01/01,08:02,Sunday,VAUGHAN MC STATION,TUNOA,6,12,S,YU,5451,subway,NaN,NaN
8,2023/01/01,08:11,Sunday,GREENWOOD STATION,MUNOA,5,10,E,BD,0,subway,NaN,NaN
9,2023/01/01,08:13,Sunday,ROYAL YORK STATION,EUSC,0,0,W,BD,5031,subway,NaN,NaN

In [13]:
merged_data.to_csv('merged_data')